.booking-heading {
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
}

.booking-box {
  background: #FFFFFF;
  box-shadow: 0 0 30px 0 rgba(88, 75, 75, 0.2);
  border-radius: 5px;
  padding: 30px;
  font-size: 16px;
  color: #00416D;
  font-weight: 300;
  margin-bottom: 30px;
}
.booking-box .details {
  margin-bottom: 20px;
}
.booking-box .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.booking-box h2 {
  font-size: 24px;
  color: #0177C1;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 30px;
}
.booking-box h2.less-margin {
  margin-bottom: 10px;
}
.booking-box .form-control {
  height: 50px;
  background: #FFFFFF;
  margin-bottom: 10px;
}
.booking-box .form-control .btn-default {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  font-size: 15px;
  color: #00416D;
  font-weight: 400;
  border-radius: 0px;
}
.booking-box .form-control .btn-default .bs-caret {
  right: 10px;
  position: relative;
}
.booking-box .form-control .btn-default:hover {
  color: #00416D;
  background-color: #FAFAFA;
}
.booking-box .form-control.open .btn-default {
  background: #0177C1;
  text-shadow: none;
  color: #fff;
}
.booking-box .form-group {
  background: #FFFFFF;
  margin-bottom: 10px;
}
.booking-box .form-group input, .booking-box .form-group textarea {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  font-size: 15px;
  color: #00416D;
  font-weight: 400;
  border-radius: 0px;
}
.booking-box .form-group input:hover, .booking-box .form-group input:active, .booking-box .form-group input:focus, .booking-box .form-group textarea:hover, .booking-box .form-group textarea:active, .booking-box .form-group textarea:focus {
  background: #EDECEF;
}
.booking-box .form-group input::placeholder, .booking-box .form-group textarea::placeholder {
  color: #00416D;
  font-weight: 400;
  font-size: 15px;
}

.pay-now-box {
  background: #FFFFFF;
  box-shadow: 0 0 30px 0 rgba(88, 75, 75, 0.2);
  border-radius: 5px;
}
.pay-now-box .price {
  text-align: center;
  font-size: 16px;
  color: #0177C1;
  font-weight: 400;
  padding: 10px;
}
.pay-now-box .price h2 {
  font-size: 34px;
  color: #0177C1;
  font-weight: 700;
  margin: 0;
}
.pay-now-box .total-price {
  color: #EA7E2A;
}
.pay-now-box .total-price h2 {
  color: #EA7E2A;
}
.pay-now-box .pay {
  background: #0177C1;
  text-align: center;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
}
.pay-now-box .pay h2 {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 400;
  margin: 0;
}
.pay-now-box .pay small {
  display: block;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
}
.pay-now-box .pay img {
  display: inline-block;
  background: #FFFFFF;
  border-radius: 5px;
  width: 60px;
  height: 33px;
}

@media (max-width: 991px) {
  .booking-box img {
    height: 150px;
    padding: 0;
    margin: 0;
  }
  .pay-now-box .pay {
    border-radius: 0px 0px 5px 5px;
  }
}
@media (max-width: 767px) {
  .booking-box {
    padding: 15px;
  }
  .booking-box img {
    width: 100%;
    height: 100%;
  }
  .booking-box .details {
    margin-bottom: 5px;
  }
  .booking-box .mb-10 {
    margin-bottom: 10px;
  }
}