.cars-listing {
  position: relative;
  padding: 10px;
  margin-bottom: 30px;
  transform: translateZ(0);
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 rgba(75, 75, 75, 0.2);
  text-align: center;
}
.cars-listing .car-heading {
  font-size: 16px;
  color: #00416D;
  text-align: center;
  font-weight: 200;
  padding-bottom: 10px;
}
.cars-listing .car-heading h3 {
  font-size: 24px;
  color: #0177C1;
  text-align: center;
  font-weight: 700;
}
.cars-listing .car-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}
.cars-listing .specs div:first-child {
  margin-left: 0px;
}
.cars-listing .specs div:last-child {
  margin-right: 0px;
}
.cars-listing .specs {
  display: flex;
  flex-direction: row;
}
.cars-listing .specs .spec {
  height: 60px;
  background: #F0EEF1;
  border: 1px solid #F0EEF1;
  border-radius: 5px;
  margin: 5px;
  color: #0177C1;
  text-align: center;
  flex-grow: 1;
}
.cars-listing .specs .spec img {
  margin-top: 3px;
  display: inline-block;
  width: 36px;
  height: 36px;
}
.cars-listing .specs strong {
  display: block;
  position: relative;
  margin-top: -5px;
  font-weight: 500;
  font-size: 16px;
}
.cars-listing .btn-cars {
  width: 100%;
  height: 46px;
  background: #0177C1;
  border-color: #0177C1;
  border-radius: 5px;
  margin: 5px 0px 0px 0px;
  line-height: 30px;
  font-size: 18px;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  transition: all 0.2s ease-in;
}
.cars-listing .btn-cars:hover {
  background: #EA7E2A;
  border-color: #EA7E2A;
}

@media (max-width: 600px) {
  .cars-listing .car-heading {
    font-size: 16px;
  }
  .cars-listing .car-heading h3 {
    font-size: 24px;
  }
}